<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
rel="stylesheet"/> -->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
rel="stylesheet"/>

<!-- <mat-icon fontSet="material-icons-outlined">dangerous/mat-icon> -->
<div class="snack-bar">


    <div class="content">
        <div class="sign">
            <div class="line"></div>
            <div class="icon">
    
                <mat-icon fontSet="material-icons-outlined">
                    dangerous
                </mat-icon>

                <!-- <mat-icon [svgIcon]="'name'" [inline]="true" style="color: red; font-size: 24px;">warning</mat-icon> -->

                <!-- <mat-icon style="color: #FFC107; font-size: 24px;" [svgIcon]="'warning_amber'" [inline]="true">home</mat-icon> -->

            </div>
        </div>
    
        <div class="text-content">
            <div class="title">Errror occured</div>
            <div class="text">This is the text for the error </div>
        </div>
    </div>

    <button (click)="close()">x</button>


</div>

