<p>snack-bar works!</p>

<div class="xyz">
    <app-snack-bar-design1 ></app-snack-bar-design1>
</div>


<button mat-button color="primary" (click)="openSnackBar()">Open</button>

<!-- <button mat-button background-color="primary" (click)="openComponentSnackBar()">Open</button> -->
<button mat-button background-color="primary" (click)="openComponentSnackBar(0)">Error</button>

<button mat-button background-color="primary" (click)="openComponentSnackBar(1)">Warning</button>

<button mat-button background-color="primary" (click)="openComponentSnackBar(2)">Success</button>

<button mat-button background-color="primary" (click)="openComponentSnackBar(3)">Info</button>

